##############################
# Backend - Python
##############################

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/
ENV/
python_env/

# Packaging
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*
*.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

##############################
# Frontend - Next.js
##############################

# Next.js build
.next/
out/

# Dependencies
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# dotenv for frontend
*.local

# Vercel
.vercel/

##############################
# OS / Editor / Misc
##############################

.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Mac system file
.AppleDouble
.LSOverride
